{% extends 'base.html.twig' %}

{% block title %}Liste index{% endblock %}

{% block body %}
<br>
<div class="container">
    <h1>Liste index</h1>
    <br>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>City</th>
                <th>Phone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for liste in listes %}
            <tr>
                <td>{{ liste.id }}</td>
                <td>{{ liste.name }}</td>
                <td>{{ liste.city }}</td>
                <td>{{ liste.phone }}</td>
                <td>
                    <a class="btn btn-info mr-2" href="{{ path('liste_show', {'id': liste.id}) }}">show</a>
                    <a class="btn btn-warning" href="{{ path('liste_edit', {'id': liste.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('liste_new') }}">Create new</a>
</div>
{% endblock %}

