{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2><span>{{ dish1.name }}</span>!</h2>
								<p>Try it now, {{dish1.description}} for only {{dish1.price}}! Exclusively as the Dish of the Day. </p>
								<a href="{{path('menu')}}" class="site-btn">Menucarte</a>
								<a href="{{ path('reserve', {id: dish1.id}) }}" class="site-btn sb-c2">Reserve</a>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img">
								<img src="{{asset('image/' ~ dish1.image)}}" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hs-item">
				<div class="container">
					<div class="row">
						<div class="col-lg-6">
							<div class="hs-text">
								<h2><span>{{ dish2.name }}</span>!</h2>
								<p>Try it now, {{dish2.description}} for only {{dish2.price}}! Exclusively as the Dish of the Day. </p>
								<a href="{{path('menu')}}" class="site-btn">Menucarte</a>
								<a href="{{ path('reserve', {id: dish2.id}) }}" class="site-btn sb-c2">Reserve</a>

							</div>
						</div>
						<div class="col-lg-6">
							<div class="hr-img">
								<img src="{{asset('image/' ~ dish2.image)}}" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->

{% endblock %}





